{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        clj-http {:mvn/version "3.10.3"}
        org.clojure/data.json {:mvn/version "1.0.0"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.0.0"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "f7ef16dc3b8332b0d77bc0274578ad5270fbfedd"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}
  :cloverage
  {:extra-paths ["test"]
   :extra-deps {cloverage/cloverage {:mvn/version "RELEASE"}}
   :main-opts ["-m"
               "cloverage.coverage"
               "-p" "src"
               "-s" "test"
               "--fail-threshold" "90"]}
  :jar {:extra-deps {seancorfield/depstar {:mvn/version "1.1.104"}}
        :main-opts ["-m" "hf.depstar.jar" "github-pr-lib.jar"]}
  :install {:extra-deps {deps-deploy/deps-deploy {:mvn/version "0.0.9"}}
            :main-opts ["-m" "deps-deploy.deps-deploy" "install" "github-pr-lib.jar"]}
  :deploy {:extra-deps {deps-deploy/deps-deploy {:mvn/version "0.0.9"}}
           :main-opts ["-m" "deps-deploy.deps-deploy" "deploy" "github-pr-lib.jar"]}}}
